# Environment
*~
*.swo
*.swp

# Python
*.pyc
*.log
.mypy_cache
venv

# OCELoT
db.sqlite3*
ocelot/local_settings.py
submissions
testsets
static

# Unit tests
leaderboard/testdata/*.filtered.txt
leaderboard/testdata/*.filtered.sgm
