{% extends "leaderboard/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'tablesorter/css/theme.bootstrap_4.css' %}">
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">{{competition.name}} hosted at OCELoT</h1>
        <p>
          {{competition.description}}
        </p>
      </div>
    </div>
{% endblock %}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static 'robustness20-test-src.tgz' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">
        <div id="deadline-container" >
          <p id="competition-not-started" style="display: none;">
            Submission for {{competition.name}} has not opened yet.
            The competition starts <span id="timer-starttime">soon</span>.
          </p>
          <p id="competition-deadline" style="display: none;">
            Submission for {{competition.name}} <span id="timer-deadline">closes soon</span>.
            If you have not submitted yet, you should do so soon.
          </p>
          <p id="competition-closed" style="display: none;">
            Submission for {{competition.name}} has closed.
          </p>
        </div>

        <h2>Leaderboard of {{competition.name}}</h2>
        {% if data %}
        {% for testset, submissions in data %}
        <h3>{{testset}}</h3>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>BLEU</th>
                <th>chrF</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for submission in submissions|slice:MAX_SUBMISSION_DISPLAY_COUNT %}
              <tr>
                <td>{{forloop.counter}}</td>
                {% if submission.team_token == ocelot_team_token %}
                <td>
                  <a href="{% url 'submission-view' sub_id=submission.id %}">
                    <strong>{{submission.name}}</strong>
                  </a>
                </td>
                {% else %}
                <td>
                  {% if submission.is_anonymous %}
                    {{submission.name}}
                  {% else %}
                  <a href="{% url 'submission-view' sub_id=submission.id %}">{{submission.name}}</a>
                  {% endif %}
                </td>
                {% endif %}
                {% if submission.score_bleu %}
                <td>{{submission.score_bleu|stringformat:".1f"}}</td>
                {% else %}
                <td>---</td>
                {% endif %}
                {% if submission.score_chrf %}
                <td>{{submission.score_chrf|stringformat:".3f"}}</td>
                {% else %}
                <td>---</td>
                {% endif %}
                <td>{{submission.date_created}}</td>
              </tr>
              {% endfor %}
              {% if submissions|length > MAX_SUBMISSION_DISPLAY_COUNT %}
              <tr>
                <td>...</td>
                <td colspan="4"><em>showing top-{{MAX_SUBMISSION_DISPLAY_COUNT}} only, total number of submissions:
                    {{submissions|length}}</em></td>
              </tr>
              {% endif %}
            </tbody>
            <caption>
                BLEU and ChrF are sacreBLEU scores.
                Systems in <strong>bold face</strong> are your submissions. We
                only display the top-{{MAX_SUBMISSION_DISPLAY_COUNT}}
                submissions per language pair. SGML validation errors denoted
                by -1.0 score.
              <p>
                Click on the column header to sort the table. Hold down the
                <code>Shift</code> key and select a second column to sort by
                multiple criteria.
              </p>
            </caption>
          </table>
        </div>
        {% endfor %}
        {% else %}
        {% if False %}
        <p>Submissions will become available by 6/22/2020 at 11:59 pm, PDT.</p>
        {% else %}
        <p>No submissions yet.</p>
        {% endif %}
        {% endif %}
        <hr>

      </div> <!-- /container -->
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}

{% block script %}
<script src="{% static 'tablesorter/js/jquery.tablesorter.min.js' %}"></script>
<script>
  function updateDeadline() {
    const $starttime = Date.parse('{{ competition.start_time }}');
    const $deadline = Date.parse('{{ competition.deadline }}');
    $currentTime = new Date();

    // If the competition has a start time and there is still time
    $currentDelta = new Date($starttime - $currentTime);
    if ($currentDelta >= 0) {
      $("#competition-container p").hide();
      $("#timer-starttime").html('in ' + timeToGo($currentDelta));
      $("#competition-not-started").show();
      return;
    }

    // If the competition has no deadline
    if (isNaN($deadline)) {
      $("#competition-container").hide();
      clearInterval();
      return;
    }

    // If there is still time until the deadline
    $currentDelta = new Date($deadline - $currentTime);
    if ($currentDelta >= 0) {
      $("#competition-container p").hide();
      $("#timer-deadline").html('<strong> closes in ' + timeToGo($currentDelta) + '</strong>');
      $("#competition-deadline").show();
    }
    // If the deadline has passed
    else {
      $("#competition-container p").hide();
      $("#competition-closed").show();
      clearInterval();
    }
  }

  function timeToGo($currentDelta) {
    $deltaHours = Math.floor($currentDelta / (3600 * 1000));
    $deltaMinutes = Math.floor($currentDelta % (60 * 60 * 1000) / (60 * 1000));
    $deltaSeconds = Math.floor($currentDelta % (60 * 1000)/ 1000);

    if ($deltaHours < 10)   { $deltaHours = '0' + $deltaHours; }
    if ($deltaMinutes < 10) { $deltaMinutes = '0' + $deltaMinutes; }
    if ($deltaSeconds < 10) { $deltaSeconds = '0' + $deltaSeconds; }

    return $deltaHours + 'h' + $deltaMinutes + 'm' + $deltaSeconds + 's';
  }

  $(document).ready(function(){
    $("table").tablesorter({
      theme : "bootstrap",
      widthFixed: true,
    });

    setInterval(updateDeadline, 1000);
  });
</script>
{% endblock %}
