{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar-download %}
    <a class="nav-link active" href="{% url 'download-view' %}">Download <span class="sr-only">(current)</span></a>
{% endblock %}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a style="font-weight: bold;" class="btn btn-danger btn-sm" role="button" href="{% url 'download-view' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">

        <h2>Download test sets</h2>
        <p>
          <ul>
              <li>WMT23: General MT Task: ETA 13th July (at the end of AoE)</li>
          </ul>
        </p>

        <hr>

      </div> <!-- /container -->
{% endblock %}
