{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'frontpage-view' %}">Project OCELoT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'frontpage-view' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'teampage-view' %}">Team</a>
            {% else %}
            <a class="nav-link" href="{% url 'signup-view' %}">Registration</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'submit-view' %}">Submission</a>
            {% else %}
            <a class="nav-link disabled" href="#">Submission</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'updates-view' %}">Updates</a>
          </li>
          <li class="nav-item">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'signout-view' %}">Sign out</a>
            {% else %}
            <a class="nav-link" href="{% url 'signin-view' %}">Sign in</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
{% endblock%}

{% block main %}
    <main role="main">
    
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome to OCELoT!</h1>
          <p>
            OCELoT stands for <strong>O</strong>pen, <strong>C</strong>ompetitive <strong>E</strong>valuation <strong>L</strong>eaderboard <strong>o</strong>f <strong>T</strong>ranslations. This project started as part of the <a href="http://statmt.org/mtma19/">Fifth Machine Translation Marathon in the Americas</a>, hosted at UMD, College Park, MD, from May 28&ndash;June 1, 2019. Project OCELoT aims to create an open platform for competitive evaluation of machine translation output, based on both automatic metrics and human evalation. Code is available from <a href="https://github.com/cfedermann/OCELoT/">GitHub</a> and shared under an <a href="https://github.com/cfedermann/OCELoT/blob/master/LICENSE">open license</a>.
          </p>
          <p style="text-indent: 2em;">
            From June 22nd to June 29th, OCELoT will be used to collect submissions to the <a href="http://statmt.org/wmt20/translation-task.html">Shared Task: Machine Translation of News</a> which is part of the <a href="http://statmt.org/wmt20/">EMNLP 2020 Fifth Conference on Machine Translation (WMT20)</a>, replacing the previously used matrix which had grown stale over time. You can read more about this year's shared task and changes compared to previous years in the <a href="{% url 'updates-view' %}">competition updates</a> section. We're looking forward to your participation in WMT20!
          </p>
        </div>
      </div>

      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static "wmt20-test-src.tgz" %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">
        <div id="deadlineContainer" style="display: none;">
          <h2>Deadline</h2>
          <p>
            Submission deadline for WMT20 is in <strong id="deadline"></strong>. If you have not submitted yet, you should do so soon.
          </p>
        </div>
    
        {% if data %}
        <h2>Leaderboard</h2>
        {% for testset, submissions in data %}
        <h3>{{testset}}</h3>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>SacreBLEU score</th>
                <th>chrF score</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for submission in submissions|slice:MAX_SUBMISSION_DISPLAY_COUNT %}
              <tr>
                <td>{{forloop.counter}}</td>
                {% if submission.submitted_by.token == ocelot_team_token %}
                <td><strong>{{submission.get_name}}</strong></td>
                {% else %}
                <td>{{submission.get_name}}</td>
                {% endif %}
                {% if submission.score %}
                <td>{{submission.score|stringformat:".1f"}}</td>
                {% else %}
                <td>---</td>
                {% endif %}
                {% if submission.score_chrf %}
                <td>{{submission.score_chrf|stringformat:".3f"}}</td>
                {% else %}
                <td>---</td>
                {% endif %}
                <td>{{submission.date_created}}</td>
              </tr>
              {% endfor %}
              {% if submissions|length > MAX_SUBMISSION_DISPLAY_COUNT %}
              <tr>
                <td>...</td>
                <td colspan="4"><em>showing top-{{MAX_SUBMISSION_DISPLAY_COUNT}} only, total number of submissions:
                    {{submissions|length}}</em></td>
              </tr>
              {% endif %}
            </tbody>
            <caption>Systems in <strong>bold face</strong> are your submissions. We only display the top-{{MAX_SUBMISSION_DISPLAY_COUNT}} submissions per language pair. SGML validation errors denoted by -1.0 score.</caption>
          </table>
        </div>
        {% endfor %}
        {% else %}
        {% if False %}
        <h2>Leaderboard</h2>
        <p>Submissions will become available by 6/22/2020 at 11:59 pm, PDT.</p>
        {% endif %}
        {% endif %}
        <hr>
    
      </div> <!-- /container -->
    
    </main>
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}

{% block script %}
<script>
  function updateDeadline()
  {
    const $deadline = new Date(Date.UTC(2020, 5, 30, 12, 0));

    $currentTime = new Date();
    $currentDelta = new Date($deadline - $currentTime);

    $deltaHours = Math.floor($currentDelta / (3600 * 1000));
    $deltaMinutes = Math.floor($currentDelta % (60 * 60 * 1000) / (60 * 1000));
    $deltaSeconds = Math.floor($currentDelta % (60 * 1000)/ 1000);

    if ($deltaHours < 10)
    {
      $deltaHours = '0' + $deltaHours;
    }

    if ($deltaMinutes < 10)
    {
      $deltaMinutes = '0' + $deltaMinutes;
    }

    if ($deltaSeconds < 10)
    {
      $deltaSeconds = '0' + $deltaSeconds;
    }

    $timeToGo = $deltaHours + 'h' + $deltaMinutes + 'm' + $deltaSeconds + 's';

    $("#deadline").text($timeToGo);
    $("#deadlineContainer").show();
  }

  $(document).ready(function(){
    setInterval(updateDeadline, 1000);
  });
</script>
{% endblock %}