{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar-signin %}
    <a class="nav-link active" href="{% url 'signin-view' %}">Sign in <span class="sr-only">(current)</span></a>
{% endblock %}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static 'robustness20-test-src.tgz' %}">Download test sets</a>
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            <a class="btn btn-primary btn-sm disabled" role="button" href="{% url 'updates-view' %}">competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">

        <h2>Team sign-in</h2>
        <form action="{% url 'signin-view' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit">
        </form>
    
        <hr>
    
      </div> <!-- /container -->
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}
