{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar-submit %}
    <a class="nav-link active" href="{% url 'submit-view' %}">Submission <span class="sr-only">(current)</span></a>
{% endblock %}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static 'wmt21-test-src.tgz' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a style="font-weight: bold;" class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">

        <h2>Submission</h2>

        {% if False %}
        <p>
          <em>Submissions and competition updates will become available on 6/23/2020, PDT.</em>
        </p>
        {% else %}
        <form action="{% url 'submit-view' %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        <div>
          <br/>
          <em>Note: SGML file names need to end with <code>".sgm"</code> to be
              valid. Text file names need to end with <code>".txt"</code>
              instead.</em>
        </div>
        {% endif %}
        <hr>

      </div> <!-- /container -->
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}
