{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'frontpage-view' %}">Project OCELoT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'frontpage-view' %}">Home</a>
          </li>
          <li class="nav-item active">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'teampage-view' %}">Team <span class="sr-only">(current)</span></a>
            {% else %}
            <a class="nav-link" href="{% url 'signup-view' %}">Registration</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'submit-view' %}">Submission</a>
            {% else %}
            <a class="nav-link disabled" href="#">Submission</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'updates-view' %}">Updates</a>
          </li>
          <li class="nav-item">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'signout-view' %}">Sign out</a>
            {% else %}
            <a class="nav-link" href="{% url 'signin-view' %}">Sign in</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
{% endblock%}

{% block main %}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome to OCELoT!</h1>
          <p>
            From June 22nd to June 29th, OCELoT will be used to collect submissions to the <a href="http://statmt.org/wmt20/translation-task.html">Shared Task: Machine Translation of News</a> which is part of the <a href="http://statmt.org/wmt20/">EMNLP 2020 Fifth Conference on Machine Translation (WMT20)</a>, replacing the previously used matrix which had grown stale over time. You can read more about this year's shared task and changes compared to previous years in the <a href="{% url 'updates-view' %}">competition updates</a> section. We're looking forward to your participation in WMT20!
          </p>
          <p style="text-indent: 2em;">
            From July 10th to July 17th, OCELoT will collect submissions to the <a href="http://statmt.org/wmt20/robustness.html">Shared Task: Machine Translation Robustness</a>.
          </p>
        </div>
      </div>

      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static 'robustness20-test-src.tgz' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a style="font-weight: bold;" class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">
        <div>
          <h2>Final submissions</h2>
          <h3>Publication name</h3>
          <p>Please think about how you want your team to be named in the WMT20 overview paper. This should identify your affiliation so <code>ACME</code> is better than <code>johndoe</code>. If you do not set this, your team name <code>{{ ocelot_team_name }}</code> will be used as default.</p>
          <form action="{% url 'teampage-view' %}" method="post">
            {% csrf_token %}
            {{ publication_name_form.as_p }}
            <h3>Primary submissions</h3>
            <table>
              {% for testset, primary, submissions in data %}
              <tr>
                <td>{{ testset }}</td>
                <td>
                  <select id="id_primary" name="primary">
                    {% for submission in submissions %}
                    <option value="{{ submission.id }}"{% if submission.is_primary %}selected="selected"{% endif %}>Submission #{{ submission.id }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select id="id_constrained" name="constrained">
                    <option value="0"{% if not primary.is_constrained %}selected="selected"{% endif %}>Unconstrained</option>
                    <option value="1"{% if primary.is_constrained %}selected="selected"{% endif %}>Constrained</option>
                  </select>
                </td>
              </tr>
              {% endfor %}
            </table>
            <input type="submit" value="Submit">
          </form>
        </div>

        <div>
          <h2>{{ocelot_team_name}} submissions</h2>
          {% if data %}
            {% for testset, primary, submissions in data %}
            <h3>{{testset}} ({{submissions|length}}/{{MAX_SUBMISSION_LIMIT}})</h3>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SacreBLEU score</th>
                    <th>chrF score</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for submission in submissions %}
                  <tr>
                    <td>#{{submission.id}}</td>
                    <td>
                      <a href="{% url 'submission-view' sub_id=submission.id %}">
                        {{submission.name}}
                      </a>
                      {% if submission.is_primary %}
                      <span class="badge badge-primary">Primary</span>
                      {% endif %}
                      {% if submission.is_constrained %}
                      <span class="badge badge-info">Constrained</span>
                      {% endif %}
                    </td>
                    {% if submission.score %}
                    <td>{{submission.score|stringformat:".1f"}}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}
                    {% if submission.score_chrf %}
                    <td>{{submission.score_chrf|stringformat:".3f"}}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}
                    <td>{{submission.date_created}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
          {% else %}
          <div>
              <p>You have not yet created any submissions.</p>
          </div>
          {% endif %}
        </div>
        <hr>

      </div> <!-- /container -->

    </main>
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}
