{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar-teampage %}
    <a class="nav-link active" href="{% url 'teampage-view' %}">Team <span class="sr-only">(current)</span></a>
{% endblock%}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static 'robustness20-test-src.tgz' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a style="font-weight: bold;" class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">
        <div>
          <h2>Final submissions</h2>
          <h3>Publication name</h3>
          <p>
            Please think about how you want your team to be named in the WMT20
            overview paper. This should identify your affiliation so
            <code>ACME</code> is better than <code>johndoe</code>. If you do
            not set this, your team name <code>{{ ocelot_team_name }}</code>
            will be used as default.
          </p>

          <form action="{% url 'teampage-view' %}" method="post">
            {% csrf_token %}
            {{ publication_name_form.as_p }}
            <h3>Primary submissions</h3>
            <table>
              {% for testset, primary, submissions in data %}
              <tr>
                <td>{{ testset }}</td>
                <td>
                  <select id="id_primary" name="primary">
                    {% for submission in submissions %}
                    <option value="{{ submission.id }}"{% if submission.is_primary %}selected="selected"{% endif %}>Submission #{{ submission.id }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select id="id_constrained" name="constrained">
                    <option value="0"{% if not primary.is_constrained %}selected="selected"{% endif %}>Unconstrained</option>
                    <option value="1"{% if primary.is_constrained %}selected="selected"{% endif %}>Constrained</option>
                  </select>
                </td>
              </tr>
              {% endfor %}
            </table>
            <input type="submit" value="Submit">
          </form>
        </div>

        <div>
          <h2>{{ocelot_team_name}} submissions</h2>
          {% if data %}
            {% for testset, primary, submissions in data %}
            <h3>{{testset}} ({{submissions|length}}/{{MAX_SUBMISSION_LIMIT}})</h3>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SacreBLEU score</th>
                    <th>chrF score</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for submission in submissions %}
                  <tr>
                    <td>#{{submission.id}}</td>
                    <td>
                      <a href="{% url 'submission-view' sub_id=submission.id %}">
                        {{submission.name}}
                      </a>
                      {% if submission.is_primary %}
                      <span class="badge badge-primary">Primary</span>
                      {% endif %}
                      {% if submission.is_constrained %}
                      <span class="badge badge-info">Constrained</span>
                      {% endif %}
                    </td>
                    {% if submission.score %}
                    <td>{{submission.score|stringformat:".1f"}}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}
                    {% if submission.score_chrf %}
                    <td>{{submission.score_chrf|stringformat:".3f"}}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}
                    <td>{{submission.date_created}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
          {% else %}
          <div>
              <p>You have not yet created any submissions.</p>
          </div>
          {% endif %}
        </div>
        <hr>

      </div> <!-- /container -->
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}
