{% extends "leaderboard/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'tablesorter/css/theme.bootstrap_4.css' %}">
{% endblock %}

{% block style %}
  .errorlist { color:#dc3545!important; font-size:80%; }
{% endblock %}

{% block navbar-teampage %}
    <a class="nav-link active" href="{% url 'teampage-view' %}">Team <span class="sr-only">(current)</span></a>
{% endblock%}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static 'wmt21-test-src.tgz' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a style="font-weight: bold;" class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">
        <div>
          <h2>Final submissions</h2>
          <h4>Publication names</h4>
          <p class="form-text">
            Please think about how you want your team to be named in the
            overview paper. The overview paper needs to show your institution
            and also a short team name in the result tables.
          </p>

          <form action="{% url 'teampage-view' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ publication_name_form.as_p }}
            </div>

            <h4>Description paper</h4>
            <p class="form-text">
              The overview paper needs to cite a paper with the full details of
              your system.  If the paper already exists, please specify its URL
              (or DOI, or a full citation in the worst case).
              If you are submitting the paper to this year's proceedings,
              please specify the authors and title, e.g. <code>John Doe, Jack Smith:
              TurtleMT at Translation Task</code>.
              Feel free to provide an <em>anticipated</em> paper title if the
              paper is yet to be written. Or simply say <code>WMT21</code> if
              you still have no idea what your system paper will be called.
            </p>
            <div class="form-group">
            {{ publication_desc_form.as_p }}
            </div>

            <h4>Primary submissions</h4>
            <p class="form-text">
              Please choose your primary submission for each test set and
              specify whether it comes from a constrained or unconstrained
              system.
            </p>
            {% if publication_survey.active %}
            <p class="form-text">
              Additionally, we ask you to provide a structured description of
              your submission(s) using an online form. The link to the form will
              be made available when selecting the primary submissions.
            </p>
            {% endif %}

            <table class="table table-sm table-borderless w-auto form-group">
              {% for testset, primary, submissions in data %}
              <tr>
                <td class="pr-3">{{ testset }}</td>
                <td>
                  <select class="form-control" id="id_primary" name="primary">
                    {% for submission in submissions %}
                    <option value="{{ submission.id }}"{% if submission.is_primary %}selected="selected"{% endif %}>Submission #{{ submission.id }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select class="form-control" id="id_constrained" name="constrained">
                    <option value="0"{% if not primary.is_constrained %}selected="selected"{% endif %}>Unconstrained</option>
                    <option value="1"{% if primary.is_constrained %}selected="selected"{% endif %}>Constrained</option>
                  </select>
                </td>
              {% if publication_survey.active %}
              {% if primary %}
              {% with testset.source_language.name|add:'-'|add:testset.target_language.name as langpair %}
                <td>
                  <a class="active" href="https://docs.google.com/forms/d/e/1FAIpQLScofFZ97ez0sd3oam6Q4O8FqxxGWLBZ1lTHs3vqCcdKvyXwjA/viewform?usp=pp_url&entry.665807668={{ publication_survey.team.institution_name|escape }}&entry.180292303={{ publication_survey.team.publication_name|escape }}&entry.416430577={{ langpair }}&entry.1605619154=%23{{ primary.id }}" target="_blank">
                    Complete the form with details for submission #{{ primary.id }}
                  </a>
                </td>
                <td id="ocelot-survey-status-{{ primary.id }}">
                  <span class="ocelot-survey-complete text-success d-none">Completed</span>
                  <span class="ocelot-survey-missing text-danger d-none">Not completed yet</span>
                </td>
              {% endwith %}
              {% else %}
                <td>
                  <span class="text-muted">Please choose the primary submission for this test set</span>
                </td>
              {% endif %}
              {% endif %}
              </tr>
              {% endfor %}
            </table>

            <p class="form-text">
              Please remember that if you participate in the shared task, then
              you must provide a defined amount of evaluation per language pair
              submitted. The amount of manual evaluation will be 10 hours per
              language pair, per team. You can provide evaluation of any of the
              task's languages, regardless of which language pair you submitted
              systems to. More details can be found on
              <a href="http://statmt.org/wmt21/translation-task.html">http://statmt.org/wmt21/translation-task.html</a>.
            </p>
            <input class="btn btn-secondary btn-sm" type="submit" value="Submit">
          </form>
        </div>

        <br/>
        <br/>

        <div>
          <h2>Your submissions</h2>
          {% if data %}
            <p class="text-muted">
              Click on the column header to sort the table. Hold down the
              <code>Shift</code> key and select a second column to sort by
              multiple criteria.
              <br/>
              BLEU and ChrF are sacreBLEU scores.
            </p>
            {% for testset, primary, submissions in data %}
            <h3>{{testset}} ({{submissions|length}}/{{MAX_SUBMISSION_LIMIT}})</h3>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>BLEU</th>
                    <th>chrF</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for submission in submissions %}
                  <tr>
                    <td>#{{submission.id}}</td>
                    <td>
                      <a href="{% url 'submission-view' sub_id=submission.id %}">
                        {{submission.name}}
                      </a>
                      {% if submission.is_primary %}
                      <span class="badge badge-primary">Primary</span>
                      {% endif %}
                      {% if submission.is_constrained %}
                      <span class="badge badge-info">Constrained</span>
                      {% endif %}
                      {% if submission.is_removed %}
                      <span class="badge badge-danger">Removed</span>
                      {% endif %}
                    </td>
                    {% if submission.score %}
                    <td>{{submission.score|stringformat:".1f"}}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}
                    {% if submission.score_chrf %}
                    <td>{{submission.score_chrf|stringformat:".3f"}}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}
                    <td>{{submission.date_created}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
          {% else %}
          <div>
              <p>You have not yet created any submissions.</p>
          </div>
          {% endif %}
        </div>
        <hr>

      </div> <!-- /container -->
{% endblock %}

{% block script %}
<script src="{% static 'tablesorter/js/jquery.tablesorter.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $("table").tablesorter({
      theme : "bootstrap",
      widthFixed: true,
    });
  });
</script>
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}
