{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar-updates %}
    <a class="nav-link active" href="{% url 'updates-view' %}">Updates <span class="sr-only">(current)</span></a>
{% endblock %}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static 'wmt21-test-src.tgz' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a style="font-weight: bold;" class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">

        <h2>Competition updates</h2>
        <p>
          <ul>
            <li><em>11/6/2021:</em> Scripts for unwrapping and wrapping WMT XML files can be found here: <a href="https://github.com/wmt-conference/wmt-format-tools.git">https://github.com/wmt-conference/wmt-format-tools.git</a></li>
            <li><em>11/6/2021:</em> We strongly recommend submitting system outputs in the XML format. Submissions in plain text must not include translations of test suites, so they would need to be excluded manually.</li>
            <li><em>10/6/2021:</em> Team registration is online and newstest2021 test set source data has been released.</li>
          </ul>
        </p>

        <h2>Competition rules</h2>
        <p>
          The following rules apply to this year's shared task:
          <ul>
            <li>We only accept submissions from verified teams &mdash; you will <strong>have to contact us</strong> (<code>bhaddow@ed.ac.uk</code>, <code>tomkocmi@microsoft.com</code>) to verify your team account;</li>
            <li>Each team may upload <strong>up to {{ MAX_SUBMISSION_LIMIT }} submissions per language pair</strong>, without any time contraints between such uploads;</li>
            <li>Each team may choose <strong>exactly one primary submission</strong> to be included in the human evaluation campaign;</li>
            <li>If you fail to designate your primary submission, your <strong>highest-scoring submission will be the default</strong>;</li>
            <li>Each team will contribute to human evaluation &mdash; 10 hours per primary submission;</li>
            <li>We request that you do not create multiple teams to game these submission rules &mdash; we trust and thank you!</li>
          </ul>
        </p>

        <hr>

      </div> <!-- /container -->
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}
