{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar-updates %}
    <a class="nav-link active" href="{% url 'updates-view' %}">Updates <span class="sr-only">(current)</span></a>
{% endblock %}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% url 'download-view' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            {% endif %}
            {% if ocelot_team_verified %}
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a style="font-weight: bold;" class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">

        <h2>Competition updates</h2>
        <p>
          <ul>
            <li><em>28/6/2024:</em> Blind testset for WMT24 General MT task available from the Download page.</li>
            <li><em>20/6/2024:</em> OCELoT for WMT24 is live.</li>
          </ul>
        </p>

        <h2>Competition rules</h2>
        <p>
          The following rules apply to this year's shared task:
          <ul>
            <li>We only accept submissions from verified teams &mdash; participants of the General MT and Biomedial MT tasks will <strong>have to contact us</strong> (<code>maja.popovic.166@gmail.com</code>) to verify their team account;</li>
            <li>Each team may upload <strong>up to {{ MAX_SUBMISSION_LIMIT }} submissions per language pair</strong>, without any time contraints between such uploads;</li>
            <li>We request that you do not create multiple teams to game these submission rules &mdash; we trust and thank you!</li>
          </ul>
        </p>

        <hr>

      </div> <!-- /container -->
{% endblock %}
