{% extends "leaderboard/base.html" %}
{% load static %}

{% block main %}
      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="{% static 'wmt21-test-src.tgz' %}">Download test sets</a>
            {% if ocelot_team_token %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">

        <h2>Registration confirmation</h2>
        <p>
            <em>Important:</em> please note this down as you will need this information for sign-in later. Upon first registration, your team will be automatically signed into the current browser session. On your personal computer, you can stay signed in. Otherwise, on a public or shared machine, please sign out when leaving.
        </p>
        <p>
            <strong>Team name:</strong> {{ocelot_team_name}}<br/>
            <strong>Email:</strong> {{ocelot_team_email}}<br/>
            <strong>Token:</strong> {{ocelot_team_token}}<br/>
        </p>

        <hr>

      </div> <!-- /container -->
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}
