{% extends "leaderboard/base.html" %}
{% load static %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'frontpage-view' %}">Project OCELoT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'frontpage-view' %}">Home</a>
          </li>
          <li class="nav-item">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'teampage-view' %}">Team</a>
            {% else %}
            <a class="nav-link" href="{% url 'signup-view' %}">Registration</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'submit-view' %}">Submission</a>
            {% else %}
            <a class="nav-link disabled" href="#">Submission</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'updates-view' %}">Updates</a>
          </li>
          <li class="nav-item">
            {% if ocelot_team_token %}
            <a class="nav-link" href="{% url 'signout-view' %}">Sign out</a>
            {% else %}
            <a class="nav-link" href="{% url 'signin-view' %}">Sign in</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}

{% block main %}
    <main role="main">
    
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome to OCELoT!</h1>
          <p>
            From June 22nd to June 29th, OCELoT will be used to collect submissions to the <a href="http://statmt.org/wmt20/translation-task.html">Shared Task: Machine Translation of News</a> which is part of the <a href="http://statmt.org/wmt20/">EMNLP 2020 Fifth Conference on Machine Translation (WMT20)</a>, replacing the previously used matrix which had grown stale over time. You can read more about this year's shared task and changes compared to previous years in the <a href="{% url 'updates-view' %}">competition updates</a> section. We're looking forward to your participation in WMT20!
          </p>
          <p style="text-indent: 2em;">
            From July 10th to July 17th, OCELoT will collect submissions to the <a href="http://statmt.org/wmt20/robustness.html">Shared Task: Machine Translation Robustness</a>.
          </p>
        </div>
      </div>

      <div class="container">
        <form>
          <p>
            <a class="btn btn-danger btn-sm" role="button" href="href="http://data.statmt.org/wmt20/robustness/blind.test.release.zip"">Download test sets</a>
            {% if ocelot_team_token %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'teampage-view' %}">Team submissions</a>
            <a class="btn btn-success btn-sm" role="button" href="{% url 'submit-view' %}">Create submission</a>
            {% else %}
            <a class="btn btn-warning btn-sm" role="button" href="{% url 'signup-view' %}">Register your team</a>
            <a class="btn btn-success btn-sm disabled" role="button" href="#">Create submission</a>
            {% endif %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'updates-view' %}">Competition updates</a>
          </p>
        </form>
      </div>

      <div class="container">

        <h2>Registration confirmation</h2>
        <p>
            <em>Important:</em> please note this down as you will need this information for sign-in later. Upon first registration, your team will be automatically signed into the current browser session. On your personal computer, you can stay signed in. Otherwise, on a public or shared machine, please sign out when leaving.
        </p>
        <p>
            <strong>Team name:</strong> {{ocelot_team_name}}<br/>
            <strong>Email:</strong> {{ocelot_team_email}}<br/>
            <strong>Token:</strong> {{ocelot_team_token}}<br/>
        </p>
    
        <hr>
    
      </div> <!-- /container -->
    
    </main>
{% endblock %}

{% block footer %}
#blacklivesmatter #pride #andjusticeforall #capitolhillseattle
{% endblock %}